@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
  font-family: 'Inter', Arial, sans-serif;
}
a {
  text-underline-offset: 0.25em;

  &.link-reset {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: #22B99AFF;
    }
  }
}

.icon {
  height: 28px;
  width: 28px;

  &-xs {
    height: 16px;
    width: 16px;
  }

  &-sm {
    height: 20px;
    width: 20px;
  }

  &-md {
    height: 24px;
    width: 24px;
  }

  &-lg {
    height: 32px;
    width: 32px;
  }

  &-xl {
    height: 40px;
    width: 40px;
  }

  & > * {
    stroke-width: 1.1;
  }

  &-xs, &-sm, &-md {
    & > * {
      stroke-width: 2;
    }
  }
}

.btn-icon {
  display: inline-flex!important;
  gap: 0.4rem;
  align-items: center;
  justify-content: center;
  padding-left: 1.4rem;
  padding-right: 1.6rem;
}
.breadcrumb {

  &-item {
    &::before {
      color: #adb5bd !important;
    }
    a{
      text-decoration: none;
    }
  }
}
.products-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-gap: 3rem 2rem;
}

.pagination{
 .page-item{
   border: none;
   padding: 6px 12px;
   background-color: unset;
   &.current {
     color: #22B99AFF;
   }
 }
}
